body {
  display: flex;
  justify-content:center;
  height: 100vh; /* Set the height to the viewport height to center vertically */
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #005249 0.18%, #75957B 26.13%, #007B55 70.2%);
  color: #FFFFFF;
}



h1 {
  color: #C8FACD;
  font-family: "SF UI  Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.navigation{
  border-radius: 20px;
  border: 1px solid none;
  background: none;
  backdrop-filter: blur(5px);
  width: 40vw; /* Adjust the width as needed */
  margin: 20px auto; /* Center horizontally */
  padding: 1px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  bottom: 20px; /* Distance from the bottom */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
}
