:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 430;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

.main-container {
  position: relative;
  width: 1000px;
  height: 90svh;
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
  background-color: (255, 0, 0, 0.5);
  overflow-y: auto;
}
.main-container::-webkit-scrollbar {
  width: 0; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.rectangle {
  display: flex;
  position: relative;
  width: 900px;
  height: 120px;
  margin: auto;
  margin-top: 2rem;
  background-color: #6caf95;
  overflow: visible auto;
  border-radius: 20px;
  justify-content: space-evenly;
}

.weather-hour {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 47.55px;
  height: 120px;
}

.time {
  position: absolute;
  top: 0;
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
  text-align: let;
  white-space: nowrap;
}

.temp-hour {
  position: absolute;
  top: 60px;
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
  white-space: nowrap;
}

/* Current Weather */

.currentWeather {
  display: flex;
  justify-content: center;
}

.your-location {
  position: absolute;
  color: #c8facd;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 40px;
}

.mile-end {
  position: absolute;
  color: #5be584;
  background-color: transparent;
  border: none;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
  margin: 0;
  margin-top: 45px;
  text-align: center;
  z-index: 2;
}

.minus-7-f {
  position: absolute;
  color: #c8facd;
  font-family: SF UI Display, var(--default-font-family);
  font-size: 100px;
  font-weight: 400;
  margin: 0;
  margin-top: 60px;
}

.snow-10 {
  color: #ebfce2;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  margin-top: 155px;
}

.highlow {
  position: absolute;
  font-family: SF UI Text, var(--default-font-family);
  font-weight: 400;
  margin: 0;
  margin-top: 175px;
}

.high-intensity {
  position: relative;
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
.temperature-info {
  position: relative;
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.tipsBox {
  position: relative;
  width: 900px;
  height: 157.6px;
  background-color: #6caf95;
  border-radius: 20px;
  backdrop-filter: blur(calc(5 * var(--rpx)));
  margin: auto;
  margin-top: 15px;
  /* overflow: scroll; */
  overflow-y: auto;
  overflow-x: hidden;
}

.tipsBox {
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 200px; /* Adjust the maximum height as needed */
}

.tipsBox::-webkit-scrollbar {
  width: 0; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.tipsBox {
  -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
}

.warm-up-tips {
  position: absolute;
  width: 860px;
  height: fit-content;
  margin: 10px 0 0 20px;
  font-family: SF UI Text, var(--default-font-family);
  /* font-size: calc(15 * var(--rpx)); */
  font-weight: 400;
  line-height: 18.7167px;
  text-align: left;
  white-space: pre-wrap;
}

.precwindDiv {
  position: relative;
  width: 900px;
  margin: auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.precipitationBox {
  background-color: #6caf95;
  border-radius: 20px;
  backdrop-filter: blur(calc(5 * var(--rpx)));
  width: 440px;
  height: 300px;
}

.precipitation-info {
  display: block;
  margin: 10px 0 0 20px;
  color: #ebfce2;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 40px;
  text-align: left;
  white-space: nowrap;
}

.precipitation-info-14 {
  display: flex;
  width: 400px;
  margin: 0 0 0 20px;
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 150px;
  font-weight: 400;
  position: absolute;
  top: 20px;
}

.windBox {
  display: flex;
  background-color: #6caf95;
  border-radius: 20px;
  backdrop-filter: blur(calc(5 * var(--rpx)));
  width: 440px;
  height: 300px;
}

.windBox img {
  height: 246px;
  position: absolute;
  top: 50px;
}

.flex-column-ef {
  position: relative;
  width: 300px;
  height: 100px;
  margin: 70px 0 0 120px;
  overflow: visible auto;
}

.wind-info {
  display: block;
  margin: 10px 0 0 20px;
  color: #ebfce2;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 40px;
  text-align: left;
  white-space: nowrap;
  height: 50px;
}

.mph-wind {
  display: flex;
  height: 50px;
  margin: 10px 0 0 20px;
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 40px;
  font-weight: 400;
}

.mph-gusts {
  display: flex;
  margin: 0px 0 0 20px;
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 25px;
  font-weight: 400;
}

@media screen and (max-width: 500px) {
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }

  .main-container {
    position: relative;
    width: calc(430 * var(--rpx));
    height: 90svh;
    margin: 0 auto;
    background-size: cover;
    overflow: hidden;
  }

  .rectangle {
    display: flex;
    position: relative;
    width: calc(385 * var(--rpx));
    height: calc(112 * var(--rpx));
    margin: auto;
    margin-top: 2rem;
    overflow: visible auto;
    border-radius: calc(20 * var(--rpx));
    backdrop-filter: blur(calc(5 * var(--rpx)));
  }

  .weather-hour {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 47.55px;
    height: 81.8px;
    margin: 17px 0 0 0px;
  }

  .time {
    position: absolute;
    top: 0;
    height: calc(18 * var(--rpx));
    color: #ebfce3;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(15 * var(--rpx));
    font-weight: 400;
    line-height: calc(17.900390625 * var(--rpx));
    text-align: left;
    white-space: nowrap;
  }

  .temp-hour {
    position: absolute;
    width: calc(23 * var(--rpx));
    height: calc(18 * var(--rpx));
    top: 40px;
    color: #ebfce3;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(15 * var(--rpx));
    font-weight: 400;
    line-height: calc(17.900390625 * var(--rpx));
    text-align: center;
    white-space: nowrap;
  }

  /* Current Weather */

  .currentWeather {
    display: flex;
    justify-content: center;
  }

  .your-location {
    position: absolute;
    color: #c8facd;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(26 * var(--rpx));
  }

  .mile-end {
    position: absolute;
    color: #5be584;
    background-color: transparent;
    border: none;
    font-family: SF UI Text, var(--default-font-family);
    font-size: 15.6833px;
    font-weight: 400;
    margin: 0;
    margin-top: 45px;
    text-align: center;
    z-index: 2;
  }

  .minus-7-f {
    position: absolute;
    color: #c8facd;
    font-family: SF UI Display, var(--default-font-family);
    font-size: 100px;
    font-weight: 400;
    margin: 0;
    margin-top: 50px;
  }

  .snow-10 {
    color: #ebfce2;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(26 * var(--rpx));
    font-weight: 400;
    margin: 0;
    margin-top: 145px;
  }
  .highlow {
    position: absolute;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(15 * var(--rpx));
    font-weight: 400;
    margin: 0;
    margin-top: 175px;
  }

  .high-intensity {
    position: relative;
    color: #ebfce3;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(15 * var(--rpx));
    font-weight: 400;
    line-height: calc(17.900390625 * var(--rpx));
    text-align: left;
  }
  .temperature-info {
    position: relative;
    color: #ebfce3;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(15 * var(--rpx));
    font-weight: 400;
    line-height: calc(17.900390625 * var(--rpx));
    text-align: left;
  }
  
  .tipsBox {
    position: relative;
    width: calc(385 * var(--rpx));
    height: 157.6px;
    border-radius: calc(20 * var(--rpx));
    backdrop-filter: blur(calc(5 * var(--rpx)));
    margin-top: 15px;
    display: block;
  }

  .warm-up-tips {
    position: absolute;
    width: 364.183px;
    height: 169.533px;
    margin: 10px 0 0 20px;
    font-family: SF UI Text, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
  }

  .precwindDiv {
    position: relative;
    width: calc(387 * var(--rpx));
    height: calc(186 * var(--rpx));
    margin: calc(15 * var(--rpx)) 0 0 calc(22 * var(--rpx));
  }

  .precipitationBox {
    position: absolute;
    width: calc(186 * var(--rpx));
    height: calc(186 * var(--rpx));
    top: 0;
    left: 0;
    font-size: 0px;
    border-radius: calc(20 * var(--rpx));
    backdrop-filter: blur(calc(5 * var(--rpx)));
  }

  .precipitation-info {
    display: block;
    position: relative;
    height: calc(19 * var(--rpx));
    margin: calc(11 * var(--rpx)) 0 0 calc(15 * var(--rpx));
    color: #ebfce2;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(19 * var(--rpx));
    text-align: left;
    white-space: nowrap;
  }

  .precipitation-info-14 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: calc(152 * var(--rpx));
    height: calc(38 * var(--rpx));
    margin: calc(20 * var(--rpx)) 0 0 calc(15 * var(--rpx));
    color: #ffffff;
    font-family: SF UI Text, var(--default-font-family);
    font-size: 80px;
    font-weight: 400;
    line-height: calc(23.8671875 * var(--rpx));
    text-align: left;
  }

  .precipitation-info-15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: calc(152 * var(--rpx));
    height: calc(38 * var(--rpx));
    margin: calc(13 * var(--rpx)) 0 0 calc(17 * var(--rpx));
    color: #ffffff;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(13 * var(--rpx));
    font-weight: 400;
    line-height: calc(15.513671875 * var(--rpx));
    text-align: left;
  }

  .windBox {
    position: absolute;
    width: calc(186 * var(--rpx));
    height: calc(186 * var(--rpx));
    top: 0;
    left: calc(201 * var(--rpx));
    font-size: 0px;
    border-radius: calc(20 * var(--rpx));
    backdrop-filter: blur(calc(5 * var(--rpx)));
  }

  .windBox img {
    height: 95px;
  }

  .wind-info {
    display: block;
    position: relative;
    height: calc(19 * var(--rpx));
    margin: calc(11 * var(--rpx)) 0 0 calc(15 * var(--rpx));
    color: #ebfce2;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(16 * var(--rpx));
    font-weight: 400;
    line-height: calc(19 * var(--rpx));
    text-align: left;
    white-space: nowrap;
  }

  .flex-column-ef {
    position: relative;
    height: calc(69 * var(--rpx));
    margin: 70px 0 0 30px;
    font-size: 0px;
    overflow: visible auto;
  }

  .mph-wind {
    position: relative;
    color: #ffffff;
    font-family: SF UI Text, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 400;
    height: 25px;
    margin: 0 0 0 10px;
  }

  .mph-gusts {
    display: block;
    position: relative;
    height: 16.7333px;
    margin: 0 0 0 10px;
    color: #ffffff;
    font-family: SF UI Text, var(--default-font-family);
    font-size: 13.6px;
  }
}
