:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
  --rpx: 100vw / 430;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}


.main-container {
  position: relative;
  width: calc(430 * var(--rpx));
  height:90svh;
  margin: 0 auto;
  background-size: cover;
  overflow: hidden;
}
.flex-row-d {
  position: relative;
  width: calc(626 * var(--rpx));
  height: calc(546 * var(--rpx));
  margin: 10px 0 0 calc(-98 * var(--rpx));
}
.snowfall-background {
  position: absolute;
  width: calc(626 * var(--rpx));
  height: calc(417 * var(--rpx));
  top: 0;
  left: 0;
  font-size: 0px;

}


.rectangle {
  display: flex;
  position: relative;
  width: calc(385 * var(--rpx));
  height: calc(112 * var(--rpx));
  margin: auto;
  margin-top: 2rem;
  background: url(../assets/images/1x4Box.png)
    no-repeat center;
  background-size: cover;
  overflow: visible auto;
  border-radius: calc(20 * var(--rpx));
  backdrop-filter: blur(calc(5 * var(--rpx)));
}
.weather-hour {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 47.55px;
  height: 81.8px;
  margin: 17px 0 0 10px;

}
.time {
  position: absolute;
  top: 0;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.time-10am {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.time-11am {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.time-12pm {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.time-1pm {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.time-2pm {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.time-3pm {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}

.flex-row-ac {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: calc(322 * var(--rpx));
  height: calc(32 * var(--rpx));
  margin: calc(5 * var(--rpx)) 0 0 calc(31 * var(--rpx));
}


#Now Weather Icon
.outline {
  position: relative;
  width: calc(24.004854202270508 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 calc(3.99566650390625 * var(--rpx));
  background-size: 100% 100%;
}

.snow-1 {
  flex-shrink: 0;
  position: relative;
  width: calc(32 * var(--rpx));
  height: calc(32 * var(--rpx));
  overflow: hidden;
}

#10AM Weather Icon
.outline-2 {
  position: relative;
  width: calc(24.004854202270508 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 calc(3.99566650390625 * var(--rpx));
  background-size: 100% 100%;
}

.snow-3 {
  flex-shrink: 0;
  position: relative;
  width: calc(32 * var(--rpx));
  height: calc(32 * var(--rpx));
  overflow: hidden;
}

#11AM Weather Icon
.outline-4 {
  position: relative;
  width: calc(24.004854202270508 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 calc(3.99566650390625 * var(--rpx));
  background-size: 100% 100%;
}

.snow-5 {
  flex-shrink: 0;
  position: relative;
  width: calc(32 * var(--rpx));
  height: calc(32 * var(--rpx));
  overflow: hidden;

}

#12PM Weather Icon
.outline-6 {
  position: relative;
  width: calc(24.004854202270508 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 calc(3.99566650390625 * var(--rpx));
  background-size: 100% 100%;
}

.snow-7 {
  flex-shrink: 0;
  position: relative;
  width: calc(32 * var(--rpx));
  height: calc(32 * var(--rpx));
  overflow: hidden;
}

#1PM Weather Icon
.outline-8 {
  position: relative;
  width: calc(24.004854202270508 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 calc(3.99566650390625 * var(--rpx));
  background-size: 100% 100%;
}
.snow-9 {
  flex-shrink: 0;
  position: relative;
  width: calc(32 * var(--rpx));
  height: calc(32 * var(--rpx));
  overflow: hidden;
}

#2PM Weather Icon
.outline-a {
  position: relative;
  width: calc(24.004854202270508 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 calc(3.99566650390625 * var(--rpx));
  background-size: 100% 100%;
}
.snow-b {
  flex-shrink: 0;
  position: relative;
  width: calc(32 * var(--rpx));
  height: calc(32 * var(--rpx));
  overflow: hidden;
}

#3PM Weather Icon
.outline-c {
  position: relative;
  width: calc(24.004854202270508 * var(--rpx));
  height: calc(24 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 calc(3.99566650390625 * var(--rpx));
  background-size: 100% 100%;
}
.flex-row-de {
  position: relative;
  width: calc(313 * var(--rpx));
  height: calc(19 * var(--rpx));
  margin: calc(5 * var(--rpx)) 0 0 calc(36 * var(--rpx));
}
.temp-hour {
  position: absolute;
  width: calc(23 * var(--rpx));
  height: calc(18 * var(--rpx));
  top: 60px;
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: center;
  white-space: nowrap;
}
.minus-8 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: calc(18 * var(--rpx));
  top: 0;
  left: calc(151 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.regroup {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: calc(113 * var(--rpx));
  height: calc(19 * var(--rpx));
  top: 0;
  left: calc(200 * var(--rpx));
}
.minus-7-d {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.minus-6 {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.minus-6-e {
  flex-shrink: 0;
  position: relative;
  height: calc(18 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.minus-10 {
  position: absolute;
  height: calc(18 * var(--rpx));
  top: calc(1 * var(--rpx));
  left: calc(44 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.minus-9 {
  position: absolute;
  height: calc(18 * var(--rpx));
  top: calc(1 * var(--rpx));
  left: calc(102 * var(--rpx));
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}

/* Current Weather */

.currentWeather{
  display: flex;
  justify-content: center;
}


.your-location {
  position: absolute;
  color: #c8facd;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(26 * var(--rpx));
}


.mile-end {
  position: absolute;
  color: #5be584;
  background-color: transparent;
  border: none;
  font-family: SF UI Text, var(--default-font-family);
  font-size: 15.6833px;
  font-weight: 400;
  margin: 0;
  margin-top: 45px;
  text-align: center;
  z-index: 2;
}

.minus-7-f {
  position: absolute;
  color: #c8facd;
  font-family: SF UI Display, var(--default-font-family);
  font-size: 100px;
  font-weight: 400;
  margin: 0;
  margin-top: 50px;
}

.snow-10 {
  color: #ebfce2;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(26 * var(--rpx));
  font-weight: 400;
  margin: 0;
  margin-top: 145px;
}
.highlow {
  position: absolute;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  margin: 0;
  margin-top: 175px;
}

.high-intensity {
  position: relative;
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
}
.temperature-info {
  position: relative;
  color: #ebfce3;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
}
.tipsBox {
  position: relative;
  width: calc(385 * var(--rpx));
  height: 157.6px;
  left: 23.55px;
  background: url(../assets/images/2x4Box.png)
    no-repeat center;
  background-size: cover;  border-radius: calc(20 * var(--rpx));
  backdrop-filter: blur(calc(5 * var(--rpx)));
  margin-top: 15px;
}
.warm-up-tips {
  position: absolute;
  width: 364.183px;
  height: 169.533px;
  margin: 10px 0 0 20px;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: 18.7167px;
  text-align: left;
}

.warm-up-tips-12 {
  position: relative;
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
}
.possession-approach {
  position: relative;
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(15 * var(--rpx));
  font-weight: 400;
  line-height: calc(17.900390625 * var(--rpx));
  text-align: left;
}
.precwindDiv{
  position: relative;
  width: calc(387 * var(--rpx));
  height: calc(186 * var(--rpx));
  margin: calc(15 * var(--rpx)) 0 0 calc(22 * var(--rpx));
}
.precipitationBox {
  position: absolute;
  width: calc(186 * var(--rpx));
  height: calc(186 * var(--rpx));
  top: 0;
  left: 0;
  font-size: 0px;
  background: url(../assets/images/2x2Box.png)
    no-repeat center;
  background-size: cover;
  border-radius: calc(20 * var(--rpx));
  backdrop-filter: blur(calc(5 * var(--rpx)));
}
.precipitation-info {
  display: block;
  position: relative;
  height: calc(19 * var(--rpx));
  margin: calc(11 * var(--rpx)) 0 0 calc(15 * var(--rpx));
  color: #ebfce2;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 400;
  line-height: calc(19 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.precipitation-info-14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: calc(152 * var(--rpx));
  height: calc(38 * var(--rpx));
  margin: calc(20 * var(--rpx)) 0 0 calc(15 * var(--rpx));
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(20 * var(--rpx));
  font-weight: 400;
  line-height: calc(23.8671875 * var(--rpx));
  text-align: left;
}
.precipitation-info-15 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: calc(152 * var(--rpx));
  height: calc(38 * var(--rpx));
  margin: calc(13 * var(--rpx)) 0 0 calc(17 * var(--rpx));
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(13 * var(--rpx));
  font-weight: 400;
  line-height: calc(15.513671875 * var(--rpx));
  text-align: left;
}
.windBox {
  position: absolute;
  width: calc(186 * var(--rpx));
  height: calc(186 * var(--rpx));
  top: 0;
  left: calc(201 * var(--rpx));
  font-size: 0px;
  background: url(../assets/images/2x2Box.png)
    no-repeat center;
  background-size: cover;
  border-radius: calc(20 * var(--rpx));
  backdrop-filter: blur(calc(5 * var(--rpx)));
}
.wind-info {
  display: block;
  position: relative;
  height: calc(19 * var(--rpx));
  margin: calc(11 * var(--rpx)) 0 0 calc(15 * var(--rpx));
  color: #ebfce2;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(16 * var(--rpx));
  font-weight: 400;
  line-height: calc(19 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}
.flex-column-ef {
  position: relative;
  width: calc(83 * var(--rpx));
  height: calc(69 * var(--rpx));
  margin: calc(22 * var(--rpx)) 0 0 calc(93 * var(--rpx));
  font-size: 0px;
  overflow: visible auto;
}
.mph-wind {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: calc(59 * var(--rpx));
  height: calc(49 * var(--rpx));
  margin: 0 0 0 calc(16 * var(--rpx));
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(20 * var(--rpx));
  font-weight: 400;
  line-height: calc(23.8671875 * var(--rpx));
  text-align: left;
}
.mph-gusts {
  display: block;
  position: relative;
  height: calc(16 * var(--rpx));
  margin: calc(4 * var(--rpx)) 0 0 0;
  color: #ffffff;
  font-family: SF UI Text, var(--default-font-family);
  font-size: calc(13 * var(--rpx));
  font-weight: 400;
  line-height: calc(15.513671875 * var(--rpx));
  text-align: left;
  white-space: nowrap;
}

