.active {
  background-color: #005249;
}

.footballButton:not(.active):hover, .locationButton:not(.active):hover, .calenderButton:not(.active):hover {
  background: rgba(0, 82, 73, 0.5);
}

.navBar {
  position: sticky;
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 72.7px;
  margin: auto;
  margin-top: 10px;
  top: 92svh;
}

.footballButton {
  display: flex;
  width: 90px;
  height: 60px;
  border-radius: 20px;
}

.footballButtonIMG {
  margin: auto;
}

.locationButton {
  display: flex;
  width: 90px;
  height: 60px;
  border-radius: 20px;
}

.locationButtonIMG {
  margin: auto;
}

.calendarButton {
  display: flex;
  width: 90px;
  height: 60px;
  border-radius: 20px;
}

.calendarButtonIMG {
  margin: auto;
}

@media screen and (max-width: 500px) {
.navBar {
  position: sticky;
  width: calc(215 * var(--rpx));
  height: calc(53 * var(--rpx));
  margin: auto;
  margin-top: 10px;
  top: 92svh;
}

.footballButton {
  display: flex;
  position: absolute;
  width: calc(74 * var(--rpx));
  height: calc(53 * var(--rpx));
  left: calc(61 * var(--rpx));
  border-radius: calc(20 * var(--rpx));
}

.locationButton {
  display: flex;
  position: absolute;
  width: calc(74 * var(--rpx));
  height: calc(53 * var(--rpx));
  left: calc(141 * var(--rpx));
  border-radius: calc(20 * var(--rpx));
}

.locationButtonIMG {
  margin: auto;
}

.calenderButton {
  display: flex;
  position: absolute;
  width: calc(74 * var(--rpx));
  height: calc(53 * var(--rpx));
  left: calc(-19 * var(--rpx));
  border-radius: calc(20 * var(--rpx));
}

.calenderButtonIMG {
  margin: auto;
}
}
