body {
    display: flex;
    justify-content:center;
    height: 100vh; /* Set the height to the viewport height to center vertically */
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #005249 0.18%, #75957B 26.13%, #007B55 70.2%);
    color: #FFFFFF;
}



h1 {
    color: #C8FACD;
    font-family: "SF UI  Text";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Rectangle4 {
    border-radius: 20px;
    border: 1px solid #75957B;
    background: rgba(200, 250, 205, 0.10);
    backdrop-filter: blur(5px);
    width: 50vw; /* viewport width */
    margin: 20px;
    display: flex;
    justify-content: space-between; /* Items alligned */
    align-items: center; /* Center items vertically */
}

.searchbar{
    height: 20px;
    width: 50vw; /* viewport width */
    margin: 20px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid #75957B;
    background: rgba(200, 250, 205, 0.10);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between; /* Items alligned */
    align-items: center; /* Center items vertically */
}

.searchbar input[type="text"] {
    flex: 1; /* Take up remaining space */
    background: none; /* Remove input background */
    border: none; /* Remove input border */
    color: #FFFFFF; /* Text color */
    outline: none; /* Remove outline on focus */
  }
  
  .searchbar input[type="text"]::placeholder {
    color: #FFFFFF; /* Placeholder text color */
  }

  button{
    border: 0px; /* Remove button border */
    background: none; /* Remove button background */
    color: #FFFFFF; /* Button text color */
    cursor: pointer; 
    padding: 0px;
  }
  
  .searchbar button {
    border: 0px; /* Remove button border */
    background: none; /* Remove button background */
    color: #FFFFFF; /* Button text color */
    cursor: pointer; 
    padding: 0px;
  }




  .location{
    text-align: left;
  }

  .weather-details {
    text-align: right; /* Align weather details to the right */
  }
  
  .temp {
    font-size: 24px; /* Adjust font size as needed */
  }

  .navigation{
      border-radius: 20px;
      border: 1px solid none;
      background: none;
      backdrop-filter: blur(5px);
      width: 40vw; /* Adjust the width as needed */
      margin: 20px auto; /* Center horizontally */
      padding: 1px;
      display: flex;
      justify-content:space-evenly;
      align-items: center;
      bottom: 20px; /* Distance from the bottom */
      left: 0; /* Align to the left */
      right: 0; /* Align to the right */
    }
  